##################
# application 
# only one pool
createpool application
addserver application appcache01.dev.box.net.,11212 appcache02.dev.box.net.,11212 appcache03.dev.box.net.,11212 appcache04.dev.box.net.,11212

##################
# sessions
# primary
createpool sessions
addserver sessions appcache01.dev.box.net.,11211

# secondary
createpool sessions_secondary
addserver sessions_secondary appcache02.dev.box.net.,11211

##################
# realtime
# only one pool
createpool realtime
addserver realtime alfcache01.dev.box.net.,11211

##################
# rate_limiter
# primary
createpool rate_limiter
addserver rate_limiter appcache03.dev.box.net.,11211

# secondary
createpool rate_limiter_secondary
addserver rate_limiter_secondary appcache04.dev.box.net.,11211

##################
# upload_feedback
# primary
createpool upload_feedback
addserver upload_feedback appcache03.dev.box.net.,11211

# secondary
createpool upload_feedback_secondary
addserver upload_feedback_secondary appcache04.dev.box.net.,11211

##################
# download_feedback
# primary
createpool download_feedback
addserver download_feedback appcache03.dev.box.net.,11211

# secondary
createpool download_feedback_secondary
addserver download_feedback_secondary appcache04.dev.box.net.,11211


##################
# representation_status
# primary
createpool representation_status
addserver representation_status appcache03.dev.box.net.,11211

# secondary
createpool representation_status_secondary
addserver representation_status_secondary appcache04.dev.box.net.,11211